<div class="px-10 py-8">
  <h1 class="text-3xl font-bold text-emerald-soft font-display mb-4">{{ 'about.title' | translate }}</h1>
  <p class="text-sm text-text/80 max-w-2xl">{{ 'about.content' | translate }}</p>
  <p class="text-sm text-text/70 mt-2">{{ 'about.activeClients' | translate }}</p>
  @if (duration() > 0) {
    <div class="mt-6">
      <app-counter [duration]="duration()" [message]="message()"/>
    </div>
  }
  <div class="mt-8">
    <app-wave-audio audioUrl="assets/audio.mp3" />
  </div>
</div>



