<div class="grid grid-cols-3">
  <app-product [id]="1" name="'Producto 1'" [price]="10000" img="https://picsum.photos/640/640?r=23" (addToCart)="fromChild($event)"/>
  <app-product [id]="2" name="'Producto 2'" [price]="20000" img="https://picsum.photos/640/640?r=25" (addToCart)="fromChild($event)"/>
  <app-product [id]="3" name="'Producto 3'" [price]="30000" img="https://picsum.photos/640/640?r=22" (addToCart)="fromChild($event)"/>
  <app-product [id]="4" name="'Producto 4'" [price]="40000" img="https://picsum.photos/640/640?r=24" (addToCart)="fromChild($event)"/>
  <app-product [id]="5" name="'Producto 5'" [price]="50000" img="https://picsum.photos/640/640?r=21" (addToCart)="fromChild($event)"/>
</div>
