<div class="w-full flex space-x-10">
  <div class="flex flex-col w-3/5">
    <div class="w-full border-2 border-accent">
      <img
        alt="ecommerce"
        class="w-full object-cover object-center"
        [src]="cover()"
        />
      </div>
    <div class="flex items-center justify-center mt-1">
      <div
        class="grid grid-cols-3 gap-1"
        >
        <img
          class="object-cover object-center border-2 border-accent"
          [alt]="product()?.name"
          [src]="product()?.image"
          (click)="changeCover(product()?.image!)"
          [class.border-accent]="product()?.image === cover()"
        />
        </div>
      </div>
    </div>
    <div class="mt-5 w-full transform rotate-1">
        <h2 class="text-sm title-font text-text/70 tracking-widest font-display">{{ 'product.category' | translate }}: {{ product()?.categoryId }}</h2>
      <h1 class="text-emerald-soft text-3xl title-font font-medium mb-1 font-display">
        {{ product()?.name }}
      </h1>
      <p class="leading-relaxed text-text/80">
        {{ product()?.description }}
      </p>
      <p class="title-font font-medium text-2xl text-emerald-soft mt-5">{{ product()?.price | currency:'$':'symbol':'1.2' }}</p>
        <button
          class="btn-emerald py-2 px-6 transform -rotate-2"
          (click)="addToCart()"
          >
          {{ 'product.addToCart' | translate }}
        </button>
    </div>
  </div>
