<section class="bg-emerald-dark min-h-[calc(100vh-4rem)] flex items-center justify-center p-10">
  <div class="py-8 px-4 mx-auto">
      <div class="mx-auto max-w-screen-sm text-center">
          <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-white font-display">404</h1>
          <p class="mb-4 text-3xl tracking-tight font-bold text-white md:text-4xl">{{ 'common.somethingMissing' | translate }}</p>
          <p class="mb-4 text-lg font-light text-white/70">{{ 'common.notFound' | translate }}</p>
          <a routerLink = "/"
          class="btn-emerald text-sm px-5 py-2.5 my-4">
          {{ 'common.backToHome' | translate }}</a>
      </div>
  </div>
</section>
